%h1.col-sm-offset-4
  Checkout
%hr/

.row
  .col-sm-4
    %h3
      Ship to
    %hr/
    = form_for(current_user, as: current_user, url: charges_path, html: { method: :post }) do |f|
      =# devise_error_messages!

      .form-group
        = f.label :firstname, "First Name"
        %br/
        = f.text_field :firstname, class: 'form-control'
      .form-group
        = f.label :lastname, "Last Name"
        %br/
        = f.text_field :lastname, class: 'form-control'
      .form-group
        = f.label :email
        %br/
        = f.email_field :email, class: 'form-control'

      .form-group
        = hidden_field :amount, @cart_total
        - if current_user.address1.blank? && current_user.city.blank? && current_user.state.blank?
          %script.stripe-button{"data-amount" => "#{@cart_total*100}", "data-description" => "Order", "data-key" => Rails.configuration.stripe[:publishable_key], "data-locale" => "auto", "data-shippingAddress" =>'true', "data-email"=> "#{current_user.email}", :src => "https://checkout.stripe.com/checkout.js"}
        - else
          %script.stripe-button{"data-amount" => "#{@cart_total*100}", "data-description" => "Order", "data-key" => Rails.configuration.stripe[:publishable_key], "data-locale" => "auto", "data-email"=> "#{current_user.email}", :src => "https://checkout.stripe.com/checkout.js"}

    %hr/
  .col-sm-4
    %h3
      Order
    %hr/

    %ul
    - if current_user.cart
      =# render partial: 'shared/ordered_items', locals: {orders: @orders}

  .col-sm-4
    %h3
      Total
    %hr/
    - if current_user.cart
      = render 'cart_total'



