.container
  %h1
    = "Admin Dashboard #{@today}"

  .container
    .container
      .col-sm-4
        1st column
        .row.dashboard-info
          %h5
            Today's Orders
          %p
            = @todays_orders
            = link_to 'Orders', daily_orders_path
        .row.dashboard-info
          %h5
            Today's Total Sales
          %p
            = number_to_currency(@todays_sales)
        .row.dashboard-info
          %h5
            Total Overall Orders
          %p
            = @total_overall_orders

      .col-sm-4
        2nd column
        .row.dashboard-info
          %h5
            Today's Shipped Orders
          %p
            = @shipped_orders
            = link_to 'Shipped Orders', orders_shipped_path
        .row.dashboard-info
          %h4.text-center Top Selling Item (past 30 days)
          %h5.text-center= local_time(30.days.ago)
          .container
            - @top_sellers_past_30_days.each_with_index do |(k, v), i|
              %th{:scope => "row"}="#{i + 1}. "
              %td= "#{k}"
              %td= "( #{v} )"
              %br/
      .col-sm-4
        3rd column
        .row.dashboard-info
          %h5
            Orders Past 7 Days
          %p
            = @orders_past_7days

        .row.dashboard-info
          %h5
            = "( #{@total_orders_this_week} ) Orders this week"
            %span
              = " equaling [ #{  number_to_currency(@sum_total_for_week)} ]"

        .row.dashboard-info
          %h5
            = "( #{@total_orders_this_month} ) Orders this month"
            %span
              = " equaling [ #{  number_to_currency(@sum_total_for_month)} ]"
        .row.dashboard-info
          %h5
            = "( #{@total_orders_this_year} ) Orders this year"
            %span
              = " equaling [ #{  number_to_currency(@sum_total_for_year)} ]"

