.container
  %h1.text-center= "Orders Shipped (#{ @orders_shipped.count })"

.container
  %table.table.table-bordered
    %thead
      %tr
        %th #
        %th Cust Id
        %th Order #
        %th First Name
        %th Last Name
        %th Address1
        %th Address2
        %th City
        %th State
        %th Zip
        %th Order
        %th Quantity
        %th Fulfillment Status

    %tbody
      - @orders_shipped.each_with_index do |order, i|
        %tr
          %th{:scope => "row"}="#{i + 1}"
          %td= order.user.id
          %td= order.guid
          %td= order.user.firstname
          %td= order.user.lastname
          %td= order.user.address1
          %td= order.user.address2
          %td= order.user.city
          %td= order.user.state
          %td= order.user.zip
          %td= order.order_items
          %td= order.quantity
          %td
            = order.order_status
            - if order.order_status == 'shipped'
              %i.fa.fa-check-square-o.shipped.pull-right{"aria-hidden" => "true"}
