.container
  .row
    .col-md-offset-1.col-md-4.col-sm-4.col-xs-4
      %h1 Item
    .col-md-4.col-sm-4.col-xs-4
      %h1 Price
%hr/
.container
  - @orders.each do |order|
    .row
      .ordered-item-wrapper
        .col-md-1.col-sm-1.col-xs-1.item-image-wrapper
          = image_tag(order[-1][:image], size: "70", class: "ordered-item-image img-fit")
        .col-md-3.col-sm-3.col-xs-3.rm-padding
          .ordered-item
            = order[-1][:name]
            .ordered-item-count
        .col-md-3.col-sm-3.col-xs-3.rm-padding
          .order-item-total
            = order.first.quantity
            %span x
            %span
              = number_to_currency(order[-1][:price])
            %span =
            = number_to_currency order.first.total_price

        .col-md-3.col-sm-3.col-xs-3.rm-padding
          .quantity-controls
            = link_to order_add_item_path(order.first.id), method: :post do
              %i.fa.fa-chevron-circle-up.fa-3{"aria-hidden" => "true"}

            = link_to order_subtract_item_path(order.first.id), method: :delete do
              %i.fa.fa-chevron-circle-down.fa-3{"aria-hidden" => "true"}
      %hr/


