%nav.navbar.navbar-default{:role => "navigation"}
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    %button.navbar-toggle{"data-target" => "#navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar

  = link_to root_path, class: 'navbar-brand', id: 'navigation-logo' do
    %span.sugarkane= 'Sugarkane'
    %br/
    %span.kitchen= 'Kitchen'

  #navbar-collapse-1.collapse.navbar-collapse
    %ul.nav.navbar-nav.navbar-left
      %li
        %a{:href => "#"} Link
      %li
        %a{:href => "#"} Link
    %ul.nav.navbar-nav.navbar-right
      %li
        =# link_to "Destinations", destinations_path, class: 'text-uppercase'
      %li
        = link_to "Shop", shop_path, class: 'text-uppercase'
      %li.cart-link
        = render partial: "shared/cart_image" if user_signed_in? && current_user.cart.present?
      %li
        = link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'text-uppercase access-type' if user_signed_in?
      / %li
      / =#link_to "Sign Up", new_user_registration_path(redirect_to: request.path), class: 'text-uppercase access-type' if user_signed_in? == false
      %li
        =link_to "Sign In", new_user_session_path(redirect_to: request.path), class: 'text-uppercase access-type cta-button' if user_signed_in? == false

.flex-container.cart-listing-wrapper




