.billboard-wrapper
  .container
    %h1.text-center Authentic Caribbean Food

    .text-center
      = link_to "Explore a Destination...", destinations_path, class: 'btn btn-primary btn-lg'

= render partial: "benefits"

= render partial: "how_it_works"

= render partial: "destinations"

= render partial: "testimonials"
