.billboard-wrapper.img-responsive
  .container
    .row.row-centered
      .bold-enticement.text-center DISCOVER
      %h1.text-center Authentic Caribbean Food

= render partial: "benefits"
= render partial: "meal_gallery"
= render partial: "destinations"
= render partial: "how_it_works"
= render partial: "testimonials"
