.billboard-wrapper.img-responsive
  .container
    %h1.text-center Authentic Caribbean Food

= render partial: "benefits"
= render partial: "how_it_works"
= render partial: "meal_gallery"
= render partial: "destinations"
= render partial: "testimonials"
