.container
  %h1.col-sm-offset-4
    Dinner Shop Page
  %hr/

  .container
    .row

      .col-md-6
        - @meal_group_left.each do |meal|
          = link_to meal_path(meal.id) do
            .meal-panel
              = image_tag(meal.thumbnail_image, class: "meal-panel-image img-fit")
              .dinner-info.text-center
                .meal-name= meal.name
                %span
                  = number_to_currency(meal.price)
                %p
                  From:
                  = meal.destination.name

      .col-sm-.col-md-6
        - @meal_group_right.each do |meal|
          = link_to meal_path(meal.id) do
            .meal-panel
              = image_tag(meal.thumbnail_image, class: "meal-panel-image img-fit")
              .dinner-info.text-center
                .meal-name= meal.name
                %span
                  = number_to_currency(meal.price)
                %p
                  From:
                  = meal.destination.name


  = render partial: 'shared/go_to_cart' if current_user && current_user.cart