%div
  %header.immersive-header
    = render partial: "destination_return"
    %h1
      = "#{@destination.name}'s Cultural History"
    %p
      = "Gain historical knowledge of #{@destination.name}'s culture."