%div{class: "container #{controller_name}-#{action_name}"}
  %h1 Destinations list page
  %p This page will show all destinations and provide a link to each


  - @destinations.each do |destination|
    .container.destination-index-image
      .row
        = link_to image_tag(destination.index_image, class: "destinations-index__location"),  "/discover/#{destination.name}/#{destination.id}"
        .name-bar= destination.name

