!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SugarKaneKitchen
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:src => "https://use.fontawesome.com/4caabbd473.js"}

    %link{:href => "https://fonts.googleapis.com/css?family=Coda:800|Cinzel+Decorative:400|Oswald:700|Montserrat+Subrayada|Russo+One", :rel => "stylesheet"}/

  %body{class: "#{controller_name}-#{action_name}"}
    = render 'shared/top_level_navbar'
    - if flash[:notice].present?
      .messages
        = flash[:notice]
        %i.fa.fa-check-square-o

    %div{class: "#{controller_name}-#{action_name}-full-page", id: "main-content-wrapper"}
      = yield
    =# render 'shared/footer_navigation' unless admin_page


