!!!
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title SugarKaneKitchen
    = stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.immersive
    %div
      %header.codrops-header
        = link_to "return", destinations_path
        %h1
          = "Discover #{@destination.name.upcase}"
          %span Country tag line goes here
      .content
        .grid

          .grid__item
            .img-wrap
              = image_tag("cuba.jpg", class: 'immersive-image', id: 'history-immersive')

              .description.description--grid
                %h3= link_to "Foods", destination_foods_path
                %p
                  Every time you drink a glass of milk or eat a piece of cheese, you harm a mother. Please go vegan.
                  %em — Gary L. Francione

          .grid__item
            .img-wrap= image_tag("img/original/7.jpg", class: 'immersive-image', id: 'food-immersive')
            .description.description--grid
              %h3 Love Mother's
              %p
                Every time you drink a glass of milk or eat a piece of cheese, you harm a mother. Please go vegan.
                %em — Gary L. Francione

          .grid__item
            .img-wrap= image_tag("img/original/8.jpg", class: 'immersive-image', id: 'music-immersive')
            .description.description--grid
              %h3 Love Mother's
              %p
                Every time you drink a glass of milk or eat a piece of cheese, you harm a mother. Please go vegan.
                %em — Gary L. Francione

          .grid__item
            .img-wrap= image_tag("img/original/1.jpg", class: 'immersive-image', id: 'geography-immersive')
            .description.description--grid
              %h3 Love Mother's
              %p
                Every time you drink a glass of milk or eat a piece of cheese, you harm a mother. Please go vegan.
                %em — Gary L. Francione

          .grid__item
            .img-wrap= image_tag("img/original/10.jpg", class: 'immersive-image', id: 'political-immersive')
            .description.description--grid
              %h3 Love Mother's
              %p
                Every time you drink a glass of milk or eat a piece of cheese, you harm a mother. Please go vegan.
                %em — Gary L. Francione

        / /grid
      / /content
    / /container

